# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\ChimeraCorp Dropbox\cCorp_Labs\code\Cpp\Udacity_Projects\CppND-Route-Planning-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
